*{
	font-family: Times New Roman;
}
body{
	margin: 0;
    background-color: rgb(0, 0, 0)
}
.navigation{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.logo{
    font-weight: bold;
    font-size: 40px;
    margin-left:  20px ;
    color: rgba(0,137,123,0);

    height: 100px;
    background-image: url(img/logo.png);
    background-position: center;
    background-size: 100% 100%;
    
    transition: 1s;
}
.nav-links{
    font-size: 20px;
    margin-right: 100px;
}
.nav-links >a{
	text-decoration: none;
	color: rgb(255, 255, 255);
    text-align: center;
	margin: 10px;
	padding: 5px;
	transition: 0.6s;
}
.nav-links >a:hover{
	background-color: rgb(0,137,123,0);
	color: rgb(170, 7, 7);
}
.header{
	height: 950px;
	background-image: url(img/001.webp);
	background-position: center;
	background-size: 100% 100%;

	transition: 1s;
}
.header:hover{
	background-size: 130% 130%;
}
.blackout{
	background-color: rgba(0,0,0,0.8);
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content{
	color: white;
	text-align: center;
}
.header-content > h1{
    font-size: 50px;
}
.header-content > h2{
    font-size: 30px;
}
.header-content >a{
    color: white;
    text-decoration: none;
    background-color: rgb(145, 1, 1);
    display: inline-block;
    width: 217px;
    padding-top: 15px;
    padding-bottom: 15px;  

}
.header-content > a:hover{
     border: 3px solid white;
     background-color: rgb(92, 3, 3);
     transition: 0.3s;
}