*{
	font-family: Century Gothic;
}
.body{
	background-color:#f3e0dc;
}
.navigation{
	background-color:#d4a59a;
    border: 1px solid rgb(30,30,30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.logo{
	font-size: 25px;
    margin-left: 80px ;
	color: #5c2018;
	
}
.logo > a {
	text-decoration: none;
	color: #5c2018;
}
.logo > a h1{
	font-weight: 800;
	text-shadow: #f5dec9;
}
.nav-links{
    margin-right: 100px;
}
.nav-links >a{
	text-decoration: none;
	color: black;
	margin: 40px;
	padding: 5px;
	transition: 0.3s;
	display: inline-block;

}
.nav-links >a:hover{
	transition: 0.3s;
	color: white;
	border-bottom: 2px solid black ;
}
.us{
    text-align: left;
    color: #5c2018;
    padding: 50px 100px;
	text-align: center;
    height: auto;
}
.about-us{
	border-top: 1px solid white;
	padding-top: 50px;
	text-align: center;
	color: #5c2018;
	padding-bottom:50px;
}
.about-us > a {
	margin-top: 40px ;
	font-size: medium;
	color: #5c2018;
	text-decoration: none;
}
.about-us > a:hover {
	font-size: large;
	border-bottom: 2px solid #5c2018;
}