*{
	font-family: Century Gothic;
}
.body{
	background-color:rgb(30,30,30);
}
.navigation{
	background-color:rgb(0,137,123);
    border: 1px solid rgb(30,30,30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.logo{
	font-size: 25px;
    margin-left:  80px ;
	color: rgb(30,30,30);
}
.logo > a {
	text-decoration: none;
	color: black;
}
.nav-links{
    margin-right: 100px;
}
.nav-links >a{
	text-decoration: none;
	color: black;
	margin: 10px;
	padding: 0px;
	transition: 0.3s;
	display: inline-block;

}
.nav-links >a:hover{
	transition: 0.3s;
	color: white;
	border-bottom: 2px solid black ;
}
.genres{
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 50px;
    
}
.genres > a{
    text-decoration: none;
    display: inline-block;
    width: 30%;
    color: white;
}
.genres > a:hover{
    font-size: x-large;
	text-shadow: 2px 2px 2px rgb(0,137,123);
}

.services{
    color: white;
}
.services-top{
	text-align: center;}
.services-bot{
	display: flex;
	flex-wrap: wrap;  
	justify-content: space-around;
	text-align: center;
}
.services-item{
	width: 30%;
	margin: 20px;
	padding-top: 17px;
	padding-bottom: 17px;
}

.services-item > a{
	padding: 1px 1px;
	color: white;
	text-decoration: none;
	display: inline-block;

}
.services-item > a:hover{
	text-decoration: none;
	border-bottom: 2px solid white;
}
.up{
	color: white;
	text-align: center;
	margin-bottom: 70px;
}
.up > a {
	font-size: x-large;
	color: white;
    text-decoration: none;
    background-color: rgb(0,137,123);
    display: inline-block;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px; 
}
.up > a:hover{
	border: 3px solid white;
	background-color: rgba(0,137,123,0);
	transition: 0.3s;
}
.about-us{
	border-top: 1px solid white;
	padding-top: 50px;
	text-align: center;
	color: white;
	padding-bottom:50px;
}
.about-us > a {
	margin-top: 40px ;
	font-size: medium;
	color: white;
	text-decoration: none;
}
.about-us > a:hover {
	font-size: large;
	border-bottom: 2px solid rgb(0,137,123);
}