*{
	font-family: Century Gothic;
}
.body{
	background-color:rgb(30,30,30);
}
.navigation{
	background-color:rgb(0,137,123);
    border: 1px solid rgb(30,30,30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.logo{
	font-size: 25px;
    margin-left:  80px ;
	color: rgb(30,30,30);
}
.logo > a {
	text-decoration: none;
	color: black;
}
.nav-links{
    margin-right: 100px;
}
.nav-links >a{
	text-decoration: none;
	color: black;
	margin: 15px;
	padding: 0px;
	transition: 0.3s;
	display: inline-block;

}
.nav-links >a:hover{
	transition: 0.3s;
	color: white;
	border-bottom: 2px solid black ;
}
.header{
	height: 450px;
	background-color: rgb(30,30,30);
	margin-top: 60px;
	margin-bottom: 60px;
}

.blackout{
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blackout > a{
	text-decoration: none;
	transition: 1s;
}
.blackout > a:hover{
	box-shadow: 7px 6px 13px black;
    transform: scale(1.1);
    transition: 1s;
}
.header-content{
	color: rgb(249, 5, 5);
	text-align: center;
	background-image: url(img/01.jpg);
	background-size: 100% 100%;
	height: 450px;
	width: 900px;
}
.header-content > h1{
	padding-top: 150px;
    font-size: 90px;
}
.header-content > h6{
	padding-bottom: 1px;
}

.about{
	text-align: center;
	height: 600px;
	color: white;
}

.about-top > a{
	text-decoration: none;
	font-size: 20px;
	color: white;
	transition: 0.1s;
	margin: 25px;
	padding: 0px 45px;
	display: inline-block;
}
.about-top > a:hover{
	text-decoration: none;
	border-bottom: 2px solid rgb(0,137,123) ;
	transition: 0.1s;
	  
}
.about-bot{
	display: flex;
	flex-wrap: wrap;  
	justify-content: space-around;
	text-align: center;
	margin: 10px;
}
.about-item{
	display: flex;
	flex-wrap: wrap;  
	justify-content: space-around;
	text-align: center;
	width: 30%;
}
.about-item > a {
	padding: 1px 1px;
	color: white;
	text-decoration: none;
	display: inline-block;
}
.about-item > a:hover{
	text-decoration: none;
	border-bottom: 2px solid white;
	
}
.line{
	color: rgb(249, 5, 5);
}
.line > a{
	text-decoration: none;
	color: rgb(249, 5, 5);
}
.vote{
	color: white;
	text-align: center;
}
.quiz{
	text-align: center;
	color: white;
	margin-bottom: 15px;
	padding: 15px;
}
.quiz > button{
	background-color:rgb(0,137,123);
    border-radius: 0%;
    padding: 7px 50px;
}
.quiz > button:hover{
	background-color: rgba(0,137,123,0);
    border: 2px solid white;
	color: white;
}
.button{
	background-color:rgb(0,137,123);
    border-radius: 0%;
    padding: 7px 50px;
}
.more{
	color: white;
	text-align: center;
	margin-bottom: 70px;
}
.more > a {
	font-size: x-large;
	color: white;
    text-decoration: none;
    background-color: rgb(0,137,123);
    display: inline-block;
    width: 400px;
    padding-top: 15px;
    padding-bottom: 15px; 
}
.more > a:hover{
	border: 3px solid white;
	background-color: rgba(0,137,123,0);
	transition: 0.3s;
}

.about-us{
	border-top: 1px solid white;
	padding-top: 50px;
	text-align: center;
	color: white;
	padding-bottom:50px;
}
.about-us > a {
	margin-top: 40px ;
	font-size: medium;
	color: white;
	text-decoration: none;
}
.about-us > a:hover {
	font-size: large;
	border-bottom: 2px solid rgb(0,137,123);
}